name: Create Release

on:
  workflow_dispatch:
    inputs:
      skip_windows:
        description: "Check to skip the Windows build job."
        type: boolean
        default: true
        required: true
      debug:
        description: "Create debug build"
        type: boolean
        default: false
        required: true

permissions:
  contents: write

jobs:
  build-android:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v5

      - name: Grant execute permission to build script
        run: chmod +x tools/android/build_mini.sh

      - name: Build Hachimi for Android
        run: |
          rustup target add armv7-linux-androideabi aarch64-linux-android
          ./tools/android/build_mini.sh
        env:
          RELEASE: ${{ github.event.inputs.debug == 'true' && '0' || '1' }}

      - name: Upload Android binaries
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: |
            build/*.so
            build/sha1.json
          
  build-windows:
    runs-on: windows-latest
    if: |
      !contains(github.event.head_commit.message, '[ci skip]') &&
      github.event.inputs.skip_windows == 'false'
    steps:
      - uses: actions/checkout@v5

      - name: Build Hachimi for Windows
        run: |
          cargo build --target x86_64-pc-windows-msvc --target-dir build ${{ github.event.inputs.debug == 'true' && '' || '--release' }}
          move build\x86_64-pc-windows-msvc\release\hachimi.dll build

      - name: Build Cellar
        run: |
          git clone --depth 1 https://github.com/Hachimi-Hachimi/Cellar
          cd Cellar
          cargo build --target x86_64-pc-windows-msvc --target-dir build ${{ github.event.inputs.debug == 'true' && '' || '--release' }}
          move build\x86_64-pc-windows-msvc\release\cellar.dll build
          cd ..

      - name: Checkout FunnyHoney
        run: git clone --depth 1 https://codeberg.org/LeadRDRK/FunnyHoney.git

      - name: Build Installer
        run: |
          git clone --depth 1 https://github.com/teiosteppa/Installer
          copy build\hachimi.dll Installer
          move Cellar\build\cellar.dll Installer
          move FunnyHoney\FunnyHoney.exe Installer
          cd Installer
          cargo build --target x86_64-pc-windows-msvc --target-dir build --release --features compress_bin
          cd ..
          move Installer\build\x86_64-pc-windows-msvc\release\hachimi_installer.exe build

      - name: Upload Windows binaries
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: |
            build/hachimi.dll
            build/hachimi_installer.exe

  create-release:
    needs: [build-android, build-windows]
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.head_commit.message, '[ci skip]') &&
      (
        always() &&
        (
          needs.build-windows.result == 'success' ||
          (needs.build-windows.result == 'skipped' && github.event.inputs.skip_windows == 'true')
        )
      )
    steps:
      - name: Get release version
        id: get_info
        run: |
          VERSION=$(curl -sL "https://raw.githubusercontent.com/${{ github.repository }}/main/Cargo.toml" | \
            awk '/^\[package\]/{flag=1} flag && /^version/{print $3; exit}' | \
            tr -d '"')
          echo "release_version=v$VERSION" >> $GITHUB_OUTPUT

      - name: Download all build artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Upload binaries to a release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            ${{ github.event.inputs.skip_windows == 'false' && 'artifacts/android/*' || 'artifacts/*' }}
            ${{ github.event.inputs.skip_windows == 'false' && 'artifacts/windows/*' || '' }}
          tag_name: ${{ steps.get_info.outputs.release_version }}
